@font-face {
    font-family: 'font';
    src: url(fontes/Kadwa-Regular.ttf);
}



main {
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

body {
    background-color: #E6BAA3;
    font-family: 'font';
    letter-spacing: 1,5px;
    color: #444;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;

}


table {   
    border: 2px solid rgb(140 140 140);
    font-family: 'font';
    border-collapse: collapse;
    font-size: 1;
    letter-spacing: 1px;
}
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color:#C68484;
}
  
  th,
  td {
    border: 2px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  section {
    margin-top: 0px;
    padding-bottom: 10px;
    border-top: solid 1px gray;
}

div {
    text-align: center;
    display: block;
}
