.sidebar a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 0 10px 0;
}

.sidebar a:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 995px) {
    /* sempre que o ngc de transformar acontecer ele vai ter uma transicao; */
    .sidebar {
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar {
        transition: transform 0.3s ease-in-out;
    }

    





}