@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');


/*** Estilização do Campo Cor Favorita ***/

#cor-favorita{
    width: 200px;
    padding: 5px 20px;
    border-radius: 5px;
}

#cor-favorita option{

    width: 200px;
    padding: 5px 20px;
}

#cor-favorita option[value="Vermelho"]{
    background-color: red;
}

#cor-favorita option[value="Verde"]{
    background-color: green;
}

#cor-favorita option[value="Azul"]{
    background-color: blue;
}

/*** Estilização do Campo Nome ***/

input#campo_nome{
    width: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0 transparent;
    outline: 0 transparent;

    transition: all 0.5s;
}

input#campo_nome:focus{
    background: #22d7ff;
    width: 250px;
}

/*** Estilizando o Campo Enviar ***/

input[type="submit"]{
    width: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(9, 85, 140);
    transition: all0.5s;
}

input[type="submit"]:hover{
    background-color: aqua;
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: "Catamaran", sans-serif;
    background-color: #19242f;
    color: #eee;
}

body {
    margin: 20px;
}

h1 {
    text-align: center;
    font-weight: 700;

}

h2 {
    font-family: "Catamaran", sans-serif;
    color: #ff4043;
    font-size: 25px;
    font-weight: 400;
}

hr {
    margin: 30px 0 20px 0;
    opacity: 0.2;
}

div {
    /* text-align: center; */
}

/* Color */
.bg-red {
    background-color: #e74c3c;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-blue {
    background-color: #3498db;
}

.bg-yellow {
    background-color: #f1c40f;
}

.form-group {
    padding: 10px;
}

.form-group label {
    display: block;
    width: 100%;
}

.form-group input {
    padding: 8px 5px;
    border-radius: 15px;
    border: none;
}

.form-group input:focus {
    outline: 1px solid yellow;
}

.form-group input[type=submit] {
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 20px;
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
    transition: background-color 300ms ease;
}

.form-group input[type=submit]:focus {
    outline: none;
    background-color: red;

}

.form-group input[type=submit]:hover {
    border: solid 2px #f1c40f;
    background: #f1c40f;
    color: #000;
}
